*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #2c2c54;
    color: #000000;
    display: grid;
    grid-template-areas:    "head head head head head"
                            "btn  btn  btn  btn  btn"
                            "main main main main main"
                            "low  low  low  low  low"
                            "foot foot foot foot foot";
}

header{
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

h1 {
    font-family: 'Yusei Magic', sans-serif;
    color: #ecf0f1;
    font-size: 4em;
    font-weight: 900;
    text-shadow: 2px 8px black;  
}

.change-button{
    grid-area: btn;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: #ecf0f1;
}

.change-button button{
    width: 19vw;
    border: 3px solid black; 
    border-radius: 5px;
    background-color: #d7dbdd;
}

main{
    grid-area: main;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ecf0f1;
}

.day{
    height: 19vw;
    width: 19vw;
    border: 10px solid black; 
    border-radius: 5px;
    background-color: #c23616;
}

.mon{
    background-image: url('img/workout.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.tue{
    background-image: url('img/coding.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.wed{
    background-image: url('img/simulator.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.thu{
    background-image: url('img/book.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.fri{
    background-image: url('img/sleep.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.lower{
    grid-area: low;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: #ecf0f1;
}

.lower button{
    width: 19vw;
    height: 5vh;
    border: 3px solid black; 
    border-radius: 5px;
    background-color: #d7dbdd;
}

footer {
    grid-area: foot;
    height: 20vh;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    transform: translateY(-2vh);
    color: #a4a7a8;
  }


@media screen and (max-width: 700px) {
    h1{
        font-size: 2.5em;
    }
  }