:root{
    --buttoncolor: #ca9f287c;
}

*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
    background-color: #192a56;
    color: #000000;
    display: grid;
    grid-template-areas:    "head head head head head"
                            "btn  btn  btn  btn  btn"
                            "main main main main main"
                            "low  low  low  low  low"
                            "foot foot foot foot foot";
}

header{
    grid-area: head;
    height: 20vh;
    display: grid;
    justify-self: center;
}

.title{
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 2px 8px black; 
    align-self: end;
}

.title2{
    justify-self: center;
    font-family: 'Yusei Magic', sans-serif;
    color: #b3b8bb;
    font-size: 1em;
    text-shadow: 1px 1px black; 
}

.change-button{
    grid-area: btn;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #dfe3e6;
    border-top: 5px solid black;
}

.change-button button{
    width: 12vw;
    height: 3vh;
    border: 3px solid black; 
    border-radius: 5px;
    background-color: var(--buttoncolor);
    font-weight: 700;
}

main{
    grid-area: main;
    height: 26vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dfe3e6;
}

.day{
    height: 19vh;
    width: 19vh;
    border: 10px solid black; 
    border-radius: 5px;
    background-color: #c23616;
}

.mon{
    background-image: url('img/questionmark.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.tue{
    background-image: url('img/questionmark.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.wed{
    background-image: url('img/questionmark.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.thu{
    background-image: url('img/questionmark.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.fri{
    background-image: url('img/questionmark.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.lower{
    grid-area: low;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
    background-color: #dfe3e6;
    border-bottom: 5px solid black;
}

.lower button{
    width: 25vw;
    height: 5vh;
    border: 3px solid black; 
    border-radius: 5px;
    background-color: var(--buttoncolor);
    font-weight: 900;
}

footer {
    grid-area: foot;
    height: 20vh;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    transform: translateY(-2vh);
    color: #a4a7a8;
  }


@media screen and (max-width: 700px) {
    h1{
        font-size: 2.5em;
    }
  }